.footer {
  display: flex;
  color: var(--bc-action);
  background-color: var(--bc-shadow);
  padding: 10px 30px;
  /* gap: 20px; */
  justify-content: space-between;
}

.linkContainer {
  display: flex;
  gap: 10px;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    gap: 10px;
  }
}
