.container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.colorBoxContainer {
  display: flex;
  gap: 10px;
}
.colorBox {
  height: 40px;
  aspect-ratio: 1/1;
  border-radius: 500px;
  box-shadow: var(--shadow-template);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  transition: transform 0.2s;
}

.colorBox:hover {
  transform: scale(1.1);
}

.selected {
  border: 5px solid var(--bc-primary);
}

.pickerPopover {
  position: absolute;
  z-index: 2;
}

.pickerCover {
  position: fixed;
  inset: 0;
}
