.container {
  display: flex;
  flex-direction: column;
}

.colorBoxContainer {
  display: flex;
  gap: 10px;
}
.colorBox {
  height: 30px;
  aspect-ratio: 1/1;
  border-radius: 500px;
  box-shadow: var(--shadow-template);
}

.selected {
  border: 5px solid var(--bc-primary);
}
