.container {
  position: relative;
  display: flex;
  flex-direction: column;
  /* margin: 10px 0; */
  /* gap: 5px; */
  padding: 10px 20px;
  box-shadow: var(--shadow-template);
  /* border-left: 5px solid var(--bc-primary); */
  border-top: 1px solid var(--bc-shadow);
  border-radius: 5px;
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sampleColor {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  box-shadow: var(--shadow-template);
}

.titleWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.title {
  position: relative;
  font-size: large;
  font-weight: bold;
  color: var(--bc-detail);
  user-select: none;
}

.colorBoxContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.colorBox {
  height: 35px;
  aspect-ratio: 1/1;
  border-radius: 500px;
  box-shadow: var(--shadow-template);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  transition: transform 0.2s;
}

/* .colorBox:hover {
  transform: scale(1.1);
} */

/* .selected {
  border: 5px solid var(--bc-primary);
} */

.pickerPopover {
  position: absolute;
  z-index: 2;
}

.pickerCover {
  position: fixed;
  inset: 0;
}

.hoverCircle {
  position: absolute;
  width: 70%;
  aspect-ratio: 1/1;
  background-color: var(--background);
  border-radius: 500px;
  box-shadow: var(--shadow-template);
  transform: scale(0);
  transition: transform 0.1s;
}

.hoverCircleInner {
  position: absolute;
  width: 50%;
  aspect-ratio: 1/1;
  border-radius: 500px;
  background-color: var(--bc-primary);
  transform: scale(0);
}

.selected,
.colorBox:hover .hoverCircle {
  transform: scale(1);
}
